<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head.html') %>
</head>

<body>
    <%- include('partials/navigation.html') %>

    <div class="container p-5 text-center">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__bounceIn">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Cadastro</h3>
                    </div>
                    <div class="card-body text-center">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Telefone">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">
                                    Cadastrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.html') %>
</body>

</html>