/* Header and Navbar */
header,
.header {
  background-color: #020021;
}
.header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-center button {
  padding: 7px;
  background: rgb(74, 0, 148);
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
}
.header-center form{
  display: flex;
  justify-content: center;
}
.header .header-center button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.header-center input[type="search"] {
  width: 350px;
  padding: 7px;
  font-size: 16px;
  border: solid;
  border-radius: 4px 0 0 4px;
  border-color: rgb(255, 255, 255);
  outline: none;
}


.header-center > .info span{
  padding: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius:0 2px 2px 0;
}


.header-center > .info .active{
  border-radius: 2px 0 0 2px;
  margin-left: 5px;
  color: #f7f7f7;
  background-color: #120042;
}

.header a {
  color: white;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 16px;
  line-height: 15px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: #9851a0;
}

.header a.active {
  background-color: rgb(255, 0, 255);
  color: white;
}

.logout{
  background-color: rgb(95, 6, 6);
  padding:9px 18px!important;
  margin-right: 5px;
}

/* Userprofile */
.userProfile {
  position: relative;
  display: inline-block;
}
.userProfile button {
  font-size: 18px;
  padding: 8px;
  outline: none;
  background-color: white;
  border: none;
  cursor: pointer;
}
.userProfile-content {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  background-color: white;
  width: 150%;
  margin-left: -50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0px 4px 4px;
  background-color: #e6e6e6;
  transition-delay: 0.13s; 
}

.show {
  visibility: visible;
  
}
.userProfile-content a {
  border-radius: 0px;
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid whitesmoke;
}
.userProfile-content a:hover {
  background-color: #d9d9d9;
}
.userProfile-content #myUsername {
  border-bottom: 1px solid whitesmoke;
  background-color: #cccccc;
  font-size: 18px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px;
}

/* Navbar */
.navbar {
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a {
  padding: 12px;
  color: black;
  text-decoration: none;
  line-height: 25px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
  color: white;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c7b9b9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -19px;
  font-size: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



@media screen and (max-width: 900px) {
  .header {
    padding: 13px 0 9px 0;

  }
  .header a{
    font-size: 13px;
    padding: 10px;
  }
  .header a.logo{
    font-size: 30px;
  }

  /* .header-center {
    display: none;
  } */
  .navbar{
    padding: 0 19px 0 19px;
  }
  .navbar a{
    font-size: 16px;
  }
  .dropdown-content{
    font-size: 14px;
    min-width: 130px;
    margin-left: -19px;
  }
  

  .header-center{
    padding-top:15px;
    width: 100%;
    
  }

  
  .header-center button {
    padding: 6px 10px;
    background: rgb(80, 1, 158);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  
  .header-center input[type="search"] {
    width: 50%;
    padding: 3px;
    font-size: 17px;
    border: solid;
    border-color: rgb(255, 255, 255);
  }

}
