/* Conteudo*/

.block {
    display: block;
}

.big-center {
    min-height: 750px;
    flex-wrap: wrap;
}

.big-center>div {
    flex: 1 1 400px;
}

.center-left {
    width: 70%;
    display: block;
}

/* paginação */

#pagination {
    display: inline-block;
    align-items: center;
    border-radius: 5px;
    border: solid;
    border-color: white;
    border-width: 0.5px;
}

#pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination a.active {
    background-color: #68017c;
    color: white;
    border-radius: 5px;
}

#pagination a:hover:not(.active):not(.noHover) {
    background-color: #620076;
    border-radius: 5px;
}

.div-paginate {
    margin-top: 3px;
    margin-bottom: 3px;
}

/* centro da pagina */
.center-left > h1{
    font-weight: 510;
    font-size: 2rem;
    color: var(--preto);
}

.games-container {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    min-height: 696px;
    margin: 6px 0 0 0;
}


.games-container>a, .more-type>a {
    width: 29%;
    background-color: var(--preto);
    padding: 10px;
    margin: 0 6px 6px 6px;
    border: 1px solid black;
    border-radius: 4px 4px 8px 8px;
    display: block;
}


.games-container img, .more-type img {
    width: 100%;
    height:290px;
}

.games-container a:hover, .more-type a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(20, 20, 20);
    border-bottom-color: red;
}

.games-container a:hover img, .more-type a:hover img {
    filter: opacity(50%);
}

figure {
    color: #f1f1f1;
}

figcaption {
    display: block;
    width: 100%;
    font-size: 13px;
}

figcaption>h4 {
    font-size: 1rem;
    display: block;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}



/* ######################## */
.center-right {
    background-color: var(--branco);
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
    border: solid;
    max-width: 350px;
    min-height: 550px;
}

.center-right img {
    width: 100%;
}

.banner {
    position: relative;
}

.banner>img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: double;
}


/* ###############FOOTER ############*/

.footer-container {
    background-color: var(--footer-color);
    width: 100%;
}

footer {
    font-size: 1.1rem;
    width: 100%;
}
.footer-start{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.footer-start .logo{
    width: auto;
    color: black;
}


.footer-mid{
    padding: 0 5rem 0 5rem;
    text-align: center;
}
.footer-mid p, .footer-mid .links{
    padding-bottom:0.5rem;
    border-bottom:solid 1px #4c305f;
}
.footer-mid .links{
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-mid .links>a{
    padding: 0.5rem;
    display: block;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    width: 10rem;
}
.footer-mid .links>a:hover{
    color: rgb(25, 0, 136);
    text-decoration: underline;   
}


.footer-end{
    padding: 0.9rem;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}
