@media screen and (max-width: 900px) {
    .estatic-zoom {
        margin: 0 auto;
        max-width: 100%;
    }

    .header {
      padding: 13px 0 9px 0;
  
    }
    .header a{
      font-size: 13px;
      padding: 10px;
    }
    .header a.logo{
      font-size: 30px;
    }
  
    /* .header-center {
      display: none;
    } */
    .navbar{
      padding: 0 19px 0 19px;
    }
    .navbar a{
      font-size: 16px;
    }
    .dropdown-content{
      font-size: 14px;
      min-width: 130px;
      margin-left: -19px;
    }
    
  
    .header-center{
      padding-top:15px;
      width: 100%;
      
    }
  
    
    .header-center button {
      padding: 6px 10px;
      background: rgb(80, 1, 158);
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    
    .header-center input[type="search"] {
      width: 50%;
      padding: 3px;
      font-size: 17px;
      border: solid;
      border-color: rgb(255, 255, 255);
    }
  
  }
  