h2 {
    color: aliceblue;
}

html {
    background-color: rgb(36, 36, 36);
}

.estatic-zoom {
    max-width: 98%;
}

h2 {
    margin-left: 9px;
}

header, .header {
    background: none;
}

header {
    box-shadow: 0 1px 6px rgb(175, 175, 175);
}

.filters {
    background-color: rgb(78, 78, 0);
}

.grid13 {
    display: grid;
    grid-template-columns: auto;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
}

.table-container>a {
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    background-color: blue;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

#table-games {
    border-collapse: collapse;
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
}

#table-games td, #table-games th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-games tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-games tr:hover {
    background-color: #ddd;
}

#table-games th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #02008a;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

#table-games td {
    max-width: 120px;
}

#someDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;

}#someDiv:hover {
    height: 100%;
    overflow: initial;
    text-overflow: initial;
    display:block;
    -webkit-line-clamp:initial; 
    -webkit-box-orient: vertical;

}

#table-games img {
    display: block;
    max-width: 70px;
    margin: 0 auto;
}