<div class="footer-container">
    <footer class="estatic-zoom">

        <div class="footer-start">
            <a href="/" class="logo">H-Natsu</a>
        </div>
        <div class="footer-mid">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate deleniti incidunt aspernatur
                reprehenderit earum! Cumque ipsa at voluptatum incidunt, consequatur, doloremque distinctio quisquam
                vero accusantium reiciendis vitae veniam nisi quaerat dolore iste aut suscipit iure modi repudiandae. Ea
                voluptates expedita cum optio? Natus, ab odit nam magnam in dolore quidem?
            </p>
            <div class="links">
                <a href="javascript:void()">Contact</a>
                <a href="javascript:void()">About</a>
                <a href="/">Mais Recentes</a>
                <a href="javascript:void()">Mais Baixados</a>
            </div>
        </div>

        <div class="footer-end">
            <p>Designed by Me | Powered by Me Too</p>
        </div>
    </footer>
</div>