<header>
    <div class="header estatic-zoom">
        <div class="header-left">
             <a href="/" class="logo">H-Natsu</a>
        </div>
       
        <div class="header-center">
            <form action="/search" method="GET">
                <input type="search" placeholder="Search.." value="{{q}}" name="q">
                <input type="number" value="9" hidden name="l">
                <input type="number" value="1" hidden name="p">
                <button type="submit"><i class="fa fa-search"></i> Buscar</button>
            </form>
        </div>

        {{#if user}}
        <div class="userProfile">
            <button onclick="dropProfileOptions()">
                Meu Perfil <i class="fas fa-user"></i>
            </button>
            <div id='userOptions' class="userProfile-content">
                <a id='myUsername'>{{user.username}}</a>
                <a href="#about">Settings</a>
                <a href="/logout">Logout</a>
            </div>

        </div>
        {{else}}
        <div class="header-right">
            <a class="active" href="/login">LOGIN</a>
            <a href="/signup">REGISTRE-SE</a>
        </div>
        {{/if}}
    </div>

    {{> navigation}}
</header>