{{#if error_msg}}
<div class="error msg">
    <span>{{error_msg}} </span>
    <i class="closeMsg far fa-window-close"></i>
</div>
{{/if}}

{{#if error}}
<div class="error msg">
    <span>{{error}} </span>
    <i class="closeMsg far fa-window-close"></i>
</div>
{{/if}}

{{#if success}}

<div class="success msg">
    <span>{{success}} </span>
    <i class="closeMsg far fa-window-close"></i>
</div>

{{/if}}

{{#if success_msg}}

<div class="success msg">
    <span>{{success_msg}} </span>
    <i class=" closeMsg far fa-window-close"></i>
</div>

{{/if}}