<div class="nav-container">
  <nav class="navbar estatic-zoom flex-center">
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">PLATAFORMA</button>
      <div class="dropdown-content">
        <a href="/platform/windows">Windows</a>
        <a href="/platform/Android">Android</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">TYPE</button>
      <div class="dropdown-content">
        <a href="/type/windows">RPG</a>
        <a href="/type/visual-novel">Visual Novel</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">CENSORSHIP</button>
      <div class="dropdown-content">
        <a href="/censorship/censored">Censored</a>
        <a href="/censorship/censored">Uncensored</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">LÍNGUA</button>
      <div class="dropdown-content">
        <a href="/language/english">Inglês</a>
        <a href="/language/japonese">Japonesa</a>
      </div>
    </div>
  </nav>
</div>