<div class="nav-container">
  <nav class="navbar estatic-zoom flex-center">
    <div class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">GAMES</a>
    </div>
    <div class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">VISUAL NOVELS</a>
    </div>
    <div class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">RPG</a>
    </div>
    <div class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">ANDROID</a>
    </div>
  </nav>
</div>