<div class="nav-container">
  <nav class="navbar estatic-zoom flex-center">
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">PLATAFORMA</button>
      <div class="dropdown-content">
        <a href="/c/platform/windows/1">Windows</a>
        <a href="/c/platform/android/1">Android</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">TYPE</button>
      <div class="dropdown-content">
        <a href="/c/type/RPG/1">RPG</a>
        <a href="/c/type/visual-novel/1">Visual Novel</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">CENSORSHIP</button>
      <div class="dropdown-content">
        <a href="/c/censorship/censored/1">Censored</a>
        <a href="/c/censorship/uncensored/1">Uncensored</a>
      </div>
    </div>
    <div class="dropdown">
      <button type="button" onclick="dropDropdown(this)" class="dropbtn">LÍNGUA</button>
      <div class="dropdown-content">
        <a href="/c/language/ingles/1">Inglês</a>
        <a href="/c/language/japonese/1">Japonesa</a>
      </div>
    </div>
  </nav>
</div>