{{> header}}
{{!-- CSS PARA TUTORIAL --}}
<link rel="preload" href="/css/tutorial.css" as="style">
<link rel="stylesheet" href="/css/tutorial.css">

<main class="article-container">
    <article>
        <h1>TUTORIAL TEXTRACTOR (APP PARA TRADUZIR VISUAL NOVEL)</h1>
        <br>
        <br>
        <p>Recentemente tenho usado o Textractor para ler algumas visual novels que estão em japonês. É uma ferramenta
            leve usada para extrair textos do jogo e traduzi-los automaticamente (infelizmente só funciona com internet,
            mas futuramente irei ensinar a usar um offline).</p>
        <br>
        <p>
            Gosto muito dessa ferramenta, é muito mais rápida e fácil de configurar do que o VNR (visual novel reader),
            além disso, tem recurso de tradução online etc.
        </p>
        <br>
        <p>
            Então, eu escrevo este tutorial para fornecer uma breve configuração para que você possa obter um resultado
            como este (eu prefiro inglês ao invés do português, mas a escolha é sua):
        </p>
        <br>
        <figure>
            <img src="https://res.cloudinary.com/dmcgjqeyj/image/upload/v1615348615/tutorials/bSVQhOKbIgGC2Ua-tDdIwsuzPwt-p4Zo-0JUDJT1hsN-MeoJhCMozjGS7UvDqyAdX_iI8AdJPmhxAJeKuxAuDd7MONf9ZF0uGpQ-enfR-VYygvrgg4fcHoXzILIrCTmFrhSB8MM_fmcvdn.png"
                alt="desconhecido">
            <figcaption>A primeira e a segunda linha são traduções do Google e do Bing, respectivamente.</figcaption>
        </figure>

        <br>
        <br>
        <hr>
        <h2>Enfim, aqui está o guia:</h2>
        <br>
        <article class="passos">
            <p>
                1. Baixe o arquivo de configuração deste <a target="blank"
                    href="https://github.com/Artikash/Textractor/releases">link</a> (selecione
                Textractor-x.x.x-Setup.exe):
                <br>
                <a target="blank"
                    href="https://github.com/Artikash/Textractor/releases">https://github.com/Artikash/Textractor</a>
            </p>
            <br>
            <p>
                2. Instale o Textractor normalmente como qualquer outro software no Windows.
            </p>
            <br>
            <p>
                3. Abra o Textractor.exe e abra seu jogo (neste post, eu uso o Bunny Black 3).
            </p>
            <br>
            <p>
                4. Anexe seu jogo ao Textractor: Clique em Anexar ao jogo e selecione o jogo.
            </p>
            <br>
            <span>
                Agora vêm a parte complicada.
            </span>
            <br>
            <br>
            <p>
                5. Configuração de extensão, atualmente estou usando estas extensões:
            </p>
            <br>
            <figure>
                <img src="https://res.cloudinary.com/dmcgjqeyj/image/upload/v1615348646/tutorials/MsRiLw0rRUfwIAuY_FS2aFDnOnj4mQ0-cVhuggwn_M2yQCwyQNxpIPceZEaSSfXnZgTT7YI-sky8kd7yliGB1VwQaMwDh9t0-W0tSY71QRgOL-G1bUooLrjm94xAHiOO2Ns0OK4_l6ti3b.png"
                    alt="descohecido">
            </figure>
            <br>
            <p>
                6. Execute o jogo normalmente até que o diálogo entre os personagens apareça.
            </p>
            <br>
            <p>
                7. Escolha a caixa de texto de diálogo correta (caixa de janela) na lista suspensa de cima (aquela que
                traduz o diálogo).
            </p>
            <br>
            <figure>
                <img src="https://res.cloudinary.com/dmcgjqeyj/image/upload/v1615348669/tutorials/vxLquKhylNHzqi-4tohL9Za1gdzBDuhpzedRCZ9A52T3qqb1_gFnrDm7vLr5nhdUsaU0rtVnymmZQhZ2Ej52HxPGt3bXUFu0umyKJoLv8CYiT4wLFFqxVUI20O1J6CdUxuI8le4_zwhexw.png"
                    alt="desconhecido">
                <figcaption>
                    Experimente um deles, até obter algo como a imagem acima.
                </figcaption>
            </figure>
            <br>
            <p>
            <p>8. Configuração de janela extra:</p>
            <br>
            <p>Há uma janela de texto sem qualquer botão e uns textos.</p>
            <br>
            <p>Clique com o botão direito e escolha ´´Always on top´´, para que quando você voltar ao seu jogo, esta
                caixa de texto não seja sobreposta pela tela do jogo.
            </p>
            </p>
            <br>
            <figure>
                <img src="https://res.cloudinary.com/dmcgjqeyj/image/upload/v1615348583/tutorials/CCSXMc9KMqaHawOsDGf-lOHLqvwNyBMO4z5VHscmaBY-RazfddxrC41vviL5a2GgL1kA5EouunLYpjMLvQg_eiApY1adFtjsUcnyzbhdG4axXp-OnVx3jpsHasqgqyKkY246ShU_mej3rq.png"
                    alt="desconhecido">
                <figcaption>
                    Mova-o para o local desejado mantendo o clique nas bordas e clique no canto inferior direito para
                    redimensionar, se desejar.
                </figcaption>
            </figure>
            <br>
            <p>
                9. Aproveite o seu jogo! ^ _ ^
            </p>
        </article>
        <br>
        <p>
            Caso tenha tido problemas com a instalação, veja este vídeo e faça o passo a passo, só usar tudo oq vc
            aprendeu neste tutorial.
        </p>
        <br>
        <div class="container-iframe">
            <iframe class="responsive-iframe" src="//www.youtube.com/embed/eecEOacF6mw" allowfullscreen=""></iframe>
        </div>
    </article>
</main>

{{> footer}}