<link rel="stylesheet" href="./css/admin.css">

<header>
    <div class="header estatic-zoom">
        <a href="/admin" class="logo">Admin H-Natsu</a>

        <div class="header-center">
            <div class="flex-center info">
                <span class="active">Quantidade de games:</span> <span>{{quantGame}}</span>
                <span class="active">Quantidade de usuários:</span> <span>{{quantUser}}</span>
            </div>
        </div>


        <div class="header-right">
            <a class="logout" href="admin/logout">SAIR</a>
        </div>

    </div>
</header>
<main class="estatic-zoom">
    <h2 class="separete">GAMES ADICIONADOS</h2>
    <div class="separete grid13">
        {{!-- <div class="filters">

        </div> --}}
        <div class="table-container">
            <a href="admin/game">NOVO GAME</i></a>
            <div class="paginate-search">

                <div id="search">

                    <input type="search" placeholder="Buscar">
                    <input type="button" value="BUSCAR">

                </div>
                <div id="paginate">
                    <button onclick="nextPage(this.innerText)">1</button>
                </div>

            </div>
            <table id="table-games">
                <thead>
                    <tr>
                        <th>img</th>
                        <th>tittle</th>
                        <th>description</th>
                        <th>type</th>
                        <th>lingue</th>
                        <th>tags</th>
                        <th>censorship</th>
                        <th>platform</th>
                        <th>release_date</th>
                        <th>download</th>
                        <th>options</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="https://dummyimage.com/200x270/0026ff/fff" alt=""></td>
                        <td>Kajuu Sentai Fruits Ranger</td>
                        <td id="td-desc">
                            <div id="desc">
                                Em Legado Explosivo, um ladrão de banco resolve mudar de vida e se tornar uma pessoa
                                honesta
                                quando se apaixona por uma mulher que trabalha em uma instalação de armazenamento, um
                                lugar
                                onde
                                ele esconde todo o dinheiro que rouba. Mas fica cada vez mais difícil limpar seu nome
                                quando
                                ele
                                passa a ser investigado por um agente corrupto do FBI.
                            </div>
                        </td>

                        <td>Visual Novel</td>
                        <td>Inglês</td>
                        <td>tags, tags, ahahaha</td>
                        <td>Censored</td>
                        <td>Windows</td>
                        <td>23/22/2222</td>
                        <td>
                            <div class="td-center">
                                <a href="">download</a>
                            </div>
                        </td>
                        <td>
                            <div id="options">
                                <button href=""><i class="fas fa-edit"></i></button>
                                <button href=""><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </div>


    </div>
    </table>
    {{!-- <div style="width: 100%;height:100px; ">

    </div> --}}
    </div>
    </div>
</main>

<script src="/javascript/admin.js"></script>