<link rel="stylesheet" href="/css/admin.css">
<section class="estatic-zoom " style="height: 90%;">

    <div class="form-container">
        <a href="/admin" class="logo">H-Natsu <br><span>Admin</span></a>

        <form method="POST">
            <br>
            <label for="fname">Email ou username:</label>
            <input type="text" id="fname" name="username" placeholder="username ou email" required>
            <label for="lname">Senha:</label>
            <input type="password" id="lname" name="password" placeholder="senha" required>
            <input type="submit" value="LOGIN">
        </form>
        <div class="nav-hsl">
            <a href="/"><i class="fas fa-arrow-left"></i> home</a>
        </div>
    </div>
    </section>
</section>