<link rel="stylesheet" href="./css/admin.css">

<header>
    <div class="header estatic-zoom">
        <a href="/admin" class="logo">Admin H-Natsu</a>

        <div class="header-center">
            <div class="flex-center info">
                <span class="active">Quantidade de games:</span> <span>{{quantGame}}</span>
                <span class="active">Quantidade de usuários:</span> <span>{{quantUser}}</span>
            </div>
        </div>


        <div class="header-right">
            <a class="logout" href="admin/logout">SAIR</a>
        </div>

    </div>
</header>