<!DOCTYPE html>

<html>


<head>
	<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTE AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.css">
  <!-- FONTE ROBOTO -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- PUBLIC -->
  <link rel="stylesheet" href="/css/main.css">


  <title>H-NATSU</title>

</head>

<body>
  {{> header}}
  {{>message}}
  {{{body}}}
  {{> footer}}
  
  <!-- PUBLIC JS -->
  <script src="/javascript/script.js"></script>
  <script src="/javascript/app.js"></script>
</body>


</html>